extends users_template 
block content 
    h5(id="current") Power now:  5kWh
    div(style= "display:flex;flex-direction: row ")
        
       
        div(class= "graph per each hour" style="flex: 1; ")
            canvas(id="chart1")
            div
                label(for="select day") Select day
                input(type= "date" name= "select day" )
        div(class="graph accumulated day" style= "flex: 1")
            canvas(id="chart2")
            div
                label(for="select day") Select month 
                input(type= "month"  )
    script. 
        var id= !{JSON.stringify(id)}
    script(src='../javascripts/file1.js')    
        
    
    
           
    

     
          
         