doctype html
html
  head
    title= title
    
    script(src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js")
    link(rel= "stylesheet" href= "/stylesheets/users_template.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
   
     
      
    
  body
   
    div(class="container-fluid header" )
        h2 CUSTOMER MANAGEMENT SITE 
        
        form(action='/logout' method='post')  
            button(class= "btn btn-primary" type="submit")  Logout
            

        div.row   
             
            div(class= "navigate col-md-6 col-lg-2")
                .get_users 
                     
                    a(href="/admin/users") SHOW ALL USERS
            
                div(class="create_user" )
                     
                    a(href="/admin/signup") CREATE USER
                div(class="create_meter" )
                    a(href="/admin/meters") SHOW ALL METERS
                div(class="overview" )
                     
                    a(href="/admin/create_meter") CREATE METER
                div(class="overview" )
                     
                    a(href="/admin/overview") OVERVIEW
                div(class="overview" )
                     
                    a(href="/admin/create_bill") CREATE BILL
                
                
            div(class="col-md-6 col-lg-10")
                block content 