extends users_template 
block content 
    h1 User data 
    ul  
        li Username:  #{user.username} 
        li Email: #{user.email} 
        if (user.meter)
            li Connect to meter: #{user.meter.info}
        else 
            li not connect to any meter
        
        li Status:
        li 
            a(href=`/admin/users/${user._id}/change_info`) Change user data
    
    h3 Chart
    h5(id="current") Power now:  5kWh  
    div(class= "container")
       
       
        div(class= "graph per each hour" )
            canvas(id="chart1")
            div
                label(for="select day") Select day
                input(type= "date" name= "select day" )
        div(class="graph accumulated day" )
            canvas(id="chart2")
            div
                label(for="select day") Select month 
                input(type= "month"  )
    script. 
        var id1 =location.href.split('/')
        var id= id1[id1.length-1] 

    script(src='http://localhost:3000/javascripts/file1.js' type='text/javascript')   